details {
  display: block;
  background: #fff;
  overflow: hidden;
}
summary::marker {
  display: none;
}
summary {
  border-bottom: 1px solid #e2e8f0;
  display: block;
  padding: 20px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  position: relative;
}
summary:before {
  top: 1.4em;
  right: 1.7em;
  color: transparent;
  background: url("../../assets/images/arrow.png") no-repeat 50% 50% / 0.7em
    0.7em;
  width: 0.7em;
  height: 0.7em;
  content: "";
  position: absolute;
  transition: transform 0.5s;
}
details[open] > summary:before {
  transform: scale(1, -1);
}
details[open] {
  background: #f3fcff;
}
summary ~ * {
  padding: 0 1em 10px 1.4em;
}
details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
  background: #f3fcff;
}
@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
summary:focus {
  outline: 0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.article {
  width: 100%;
}

img {
  max-width: 100%;
}
